.center-text {
  text-align: center;
}
// set a margin bottom of 8rem
.margin-bottom-lg {
  margin-bottom: 8rem;
}
.margin-bottom-med {
  margin-bottom: 4rem;
}
.margin-bottom-sm {
  margin-bottom: 1.5rem;
}
.margin-top-lg {
  margin-top: 8rem;
}
.margin-top-med {
  margin-top: 4rem;
}